body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}
.full{
    background-color: aliceblue;
    padding: 45px;
    border-radius: 25px;
    border: 4px dashed rgb(255, 0, 225);
}
.user{
    display: flex;
    justify-content: center;
    gap: 8px;
}
button{
    height: 115px;
    width: 125px;
    border: 5px solid blue;
    border-radius: 25px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif ;
    font-size: large;
}
button:hover{
    background-color: aquamarine;
}
.result{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: rgb(255, 0, 0);
}
.compchoice{
    display: flex;
    justify-content: center;
    font-size: 25px;

}